html, body {
	font-family: 'Raleway', sans-serif !important;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

/* navbar */
.navbar-default{
	background: #11111a;
}
.navbar-brand {
	color: white;
}
.navbar-brand:hover {
	color: #aaa;
}
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.navbar li a {
  display: block;
  color: #aaa;
  text-align: center;
  padding: 14px 16px;
	text-decoration: none;
}
.navbar li a:hover {
  color: #f1f1f1;
}

h1, h2 {
	text-align: center;
}

/* form */
.form {
 width: 300px;
 margin: 0 auto;
}
.form button {
 -webkit-transition-duration: 0.4s;
	 transition-duration: 0.4s;
	 border-radius: 12px;
	 background-color: red;
}
.form button:hover {
 background-color: green;
 color: white;
}
